extends layout

block content
  .container-fluid
    h1 #{__('Coinbase Transactions')}
    - var peers = {1: 'A', 2: 'B', 3: 'C'}
    each peer, chain in peers
      h3 #{__('Peer')} #{peer}
      .row.row-horizon
        - var blocks = []
        - blocks.push({block: 1, chain: chain, nonce: 25810, coinbasevalue: '100.00', coinbaseto: 'வெங்கடேஷ்', txs: [], previous: '0000000000000000000000000000000000000000000000000000000000000000'})
        - blocks.push({block: 2, chain: chain, nonce: 28657, coinbasevalue: '100.00', coinbaseto: 'வெங்கடேஷ்', txs: [{value: '10.00', from: 'வெங்கடேஷ்', to: 'சௌமியா'},{value: '20.00', from: 'வெங்கடேஷ்', to: 'முகிலன்'},{value: '15.00', from: 'வெங்கடேஷ்', to: 'ரம்யா'},{value: '15.00', from: 'வெங்கடேஷ்', to: 'எழிலன்'}], previous: '00001cf049403bda2286f47209e6cd7d30497d68253c53fc752ad3fb440e4e9d'})
        - blocks.push({block: 3, chain: chain, nonce: 155477, coinbasevalue: '100.00', coinbaseto: 'வெங்கடேஷ்', txs: [{value: '10.00', from: 'ரம்யா', to: 'சேகர்'},{value: '5.00', from: 'எழிலன்', to: 'சேகர்'},{value: '20.00', from: 'முகிலன்', to: 'சௌமியா'}], previous: '0000cec278febca1ad3a23105752ee46bba033547fd31039606b1ca3e0b84766'})
        - blocks.push({block: 4, chain: chain, nonce: 28670, coinbasevalue: '100.00', coinbaseto: 'வெங்கடேஷ்', txs: [{value: '15.00', from: 'சேகர்', to: 'சுந்தர்'},{value: '5.00', from: 'ரம்யா', to: 'எழிலன்'},{value: '8.00', from: 'சௌமியா', to: 'சேகர்'}], previous: '0000931784d3de0cf0a07a5db32c5145a9c0bf4b611ba3d261894f9670198f12'})
        - blocks.push({block: 5, chain: chain, nonce: 15915, coinbasevalue: '100.00', coinbaseto: 'சௌமியா', txs: [{value: '2.00', from: 'சேகர்', to: 'மனோகரன்'},{value: '6.00', from: 'சுந்தர்', to: 'அருண்'},{value: '4.00', from: 'சுந்தர்', to: 'சுமதி'},{value: '9.95', from: 'கவிதா', to: 'கோகிலா'}], previous: '0000b6f4cd5ed6eaa5bfa14e59ce3a59388c53882c8f647560be0dd70dc800a3'})
        each block in blocks
          .col-xs-7
            include includes/coinbaseblock

  script.
    $(function() {
      setup(1, 1);
      setup(2, 1);
      setup(3, 1);
      setup(4, 1);
      setup(5, 1);

      setup(1, 2);
      setup(2, 2);
      setup(3, 2);
      setup(4, 2);
      setup(5, 2);

      setup(1, 3);
      setup(2, 3);
      setup(3, 3);
      setup(4, 3);
      setup(5, 3);
    });

    function getText(block, chain) {
      var s = $('#block'+block+'chain'+chain+'number').val() +
              $('#block'+block+'chain'+chain+'nonce').val() +
              $('#block'+block+'chain'+chain+'coinbasevalue').val() +
              $('#block'+block+'chain'+chain+'coinbaseto').val();

      for (var x=0; $('#block'+block+'chain'+chain+'tx'+x+'value').length > 0; x++) {
        s = s + $('#block'+block+'chain'+chain+'tx'+x+'value').val() +
                $('#block'+block+'chain'+chain+'tx'+x+'from').val() +
                $('#block'+block+'chain'+chain+'tx'+x+'to').val();
      }
      s = s + $('#block'+block+'chain'+chain+'previous').val();
      return s;
    }

    function setup(block, chain) {
      updateHash(block, chain);
      $('#block'+block+'chain'+chain+'mineButton').click(function(e) {
          e.preventDefault();
          var l = Ladda.create(this);
          l.start();
          setTimeout(function() {
              mine(block, chain, true);
              l.stop();
            }, 250); // give UI time to update
        });
    }
