extends layout

block content
  .container-fluid
    h1 #{__('Tokens')}
    - var peers = {1: '1', 2: '2', 3: '3'}
      each peer, chain in peers
        h3 #{__('Peer')} #{peer}
        .row.row-horizon
          - var blocks = []
          - blocks.push({block: 1, chain: chain, nonce: 15408, txs: [{value: '25.00', from: 'சுமதி', to: 'கோகிலா'},{value: '4.27', from: 'ரம்யா', to: 'முகிலன்'},{value: '19.22', from: 'சேகர்', to: 'பானுமதி'},{value: '106.44', from: 'வேதா', to: 'முகிலன்'},{value: '6.42', from: 'சேகர்', to: 'ரம்யா'}], previous: '0000000000000000000000000000000000000000000000000000000000000000'})
          - blocks.push({block: 2, chain: chain, nonce: 41138, txs: [{value: '97.67', from: 'எழிலன்', to: 'ஜம்புலிங்கம்'},{value: '48.61', from: 'கவிதா', to: 'கோகிலா'},{value: '6.15', from: 'முகிலன்', to: 'ஜம்புலிங்கம்'},{value: '10.44', from: 'பிரனேஷ்', to: 'வேதா'},{value: '88.32', from: 'பிரனேஷ்', to: 'மாலதி'},{value: '45.00', from: 'பிரபாலட்சுமி', to: 'மாலதி'},{value: '92.00', from: 'பிரபாலட்சுமி', to: 'பிரனேஷ்'}], previous: '0000d45d203fdc355ffe3163f11ca2bf12f209e931e7a5a723a13d0a81aa9703'})
          - blocks.push({block: 3, chain: chain, nonce: 42929, txs: [{value: '10.00', from: 'ரம்யா', to: 'சேகர்'},{value: '5.00', from: 'எழிலன்', to: 'சேகர்'},{value: '20.00', from: 'முகிலன்', to: 'கவிதா'}], previous: '00007b019b8ef89cc604190e094d8dd9454a9187d5af3e3519ec4d808f9b79f2'})
          - blocks.push({block: 4, chain: chain, nonce: 51418, txs: [{value: '62.19', from: 'எழிலன்', to: 'கவிதா'},{value: '867.96', from: 'இராமசாமி', to: 'முகிலன்'},{value: '276.15', from: 'செந்தில்குமார்', to: 'வேதா'},{value: '97.13', from: 'பிரனேஷ்', to: 'ஜம்புலிங்கம்'},{value: '119.63', from: 'இராமசாமி', to: 'மாலதி'}], previous: '0000e5ccf2d056bb45325a44ba2a154b09b39eaca4659ab0b8297e869f976c40'})
          - blocks.push({block: 5, chain: chain, nonce: 20961, txs: [{value: '14.12', from: 'முகிலன்', to: 'எழிலன்'},{value: '2,760.29', from: 'ஜம்புலிங்கம்', to: 'கோகிலா'},{value: '413.78', from: 'கோகிலா', to: 'வேதா'}], previous: '00003dc9c8406cfa65d28c71fbdecabe6fb37fa6245e8964f3c7e5a1731de8e9'})
          each block in blocks
            .col-xs-7
              include includes/tokenblock

  script.
    $(function() {
      setup(1, 1);
      setup(2, 1);
      setup(3, 1);
      setup(4, 1);
      setup(5, 1);

      setup(1, 2);
      setup(2, 2);
      setup(3, 2);
      setup(4, 2);
      setup(5, 2);

      setup(1, 3);
      setup(2, 3);
      setup(3, 3);
      setup(4, 3);
      setup(5, 3);
    });

    function getText(block, chain) {
      var s = $('#block'+block+'chain'+chain+'number').val() +
              $('#block'+block+'chain'+chain+'nonce').val();
      for (var x=0; $('#block'+block+'chain'+chain+'tx'+x+'value').length > 0; x++) {
        s = s + $('#block'+block+'chain'+chain+'tx'+x+'value').val() +
                $('#block'+block+'chain'+chain+'tx'+x+'from').val() +
                $('#block'+block+'chain'+chain+'tx'+x+'to').val();
      }
      s = s + $('#block'+block+'chain'+chain+'previous').val();
      return s;
    }

    function setup(block, chain) {
      updateHash(block, chain);
      $('#block'+block+'chain'+chain+'mineButton').click(function(e) {
          e.preventDefault();
          var l = Ladda.create(this);
          l.start();
          setTimeout(function() {
              mine(block, chain, true);
              l.stop();
            }, 250); // give UI time to update
        });
    }
